.header { 
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0 2.5em;
}

.header a{ 
    text-decoration: none;
}

.categories ul {
    display: flex;
    align-items: center;
}

.categories li a{
    padding: 5px 10px;
    margin: 10px;
    color: #808080;
    font-size: larger;
}

.categories img{
    width: 50px;
    height: 30px;
    margin-top: 10px;
    opacity: 0.75;
    background-color: transparent;
    cursor: pointer;
}

.categories{
    background-color: #f4f4f4;
}

.categories a:active {
    color: tomato;
    border-bottom: 2.5px solid black;
}